*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
}

body{
    background: linear-gradient(rgb(33, 151, 234), pink);
}

/* header */
.logo{
   width: 120px ;
}

.navbar{
    background: linear-gradient(pink,rgb(8, 138, 231));
}
/* formulaire */
button .btn .btn-bg{
    background: linear-gradient(rgb(22, 149, 240), pink); 
}

/* footer */
footer{
    height: 120px!important;
    background: linear-gradient(rgb(22, 149, 240), pink);
    margin-top: 50px !important;
}
.pe-90{
    padding-right: 90px;
}


